<!DOCTYPE html>
<div class="user-details">
    <h1> About me: </h1>
    <b> Graduating in May 2021 with a M.S and B.A. in Physics from the University of Pennsylvania, I have had the pleasure to work on the following projects and experiences: </b>
    <p> {{site.user_description}} </p>
</div>
<div class="user">
    <div class="tech">
        <h2></h2>
        <p></p>
    </div>
    <div class="tech">
        <h2></h2>
        <p></p>
    </div>
    <div class="tech">
        <h2></h2>
        <p></p>
    </div>
</div>