<!DOCTYPE html>
<div class="user-details">
    <h1> Previous Experiences </h1>
</div>
<div class="user-projects">
    <div class="images-right">
        <a href="https://www.sapient.industries">
            <img alt=" Sapient Industries " src="https://github.com/joostvan/portfolio/blob/gh-pages/assets/img/sapient.jpg?raw=true" width="400 " />
        </a>
    </div>
    <div class="contents ">
        <h3> Software Engineer Intern </h3>
        <ul>
            <li> Created a full-stack application using Dash to refine terabytes of data and visualize trends in energy metrics </li>
            <li> Learned and applied Bayesian statistics using PyMC3 </li>
            <li> Code reviews & git control</li>
            <br>
            <br>
            <br>
            <br>
        </ul>
        <p></p>
    </div>
    <div class="images-left ">
        <a href="https://www.ictp.it"> <img alt="ICTP " src="https://github.com/joostvan/portfolio/blob/gh-pages/assets/img/ictp.png?raw=true" width="600 " /> </a>
    </div>
    <div class="contents-right ">
        <h3> International Center for Theoretical Physics, Research Assistant </h3>
        <ul>
            <li> Directed machine learning and deep learning models to understand big astrophysics datasets </li>
            <li> Advised theorists and peers while investigating Baryon Acoustic Oscillations </li>
        </ul>
    </div>
</div>

<div class="user-details ">
    <h1> Featured Projects </h1>
</div>

<div class="user-projects ">
    <div class="images-right ">
        <img alt="mountains " src="https://github.com/joostvan/portfolio/blob/gh-pages/assets/img/gadgetvelocities.jpg?raw=true" />
    </div>
    <div class="contents ">
        <h3> Thesis Research </h3>
        <h4> Featured Skills</h4>
        <ul>
            <li>N-Body Simulations (Gadget)</li>
            <li>Initial Condition Simulation (N-GenIC)</li>
            <li>Gaussian Statistics</li>
            <li>C++ / C </li>
            <li>N-Body Simulations</li>
        </ul>
        <p></p>
        <a class="project-link " href="https://joostvan.github.io/stat_cosmo/ ">Check it out</a>
    </div>
</div>
<div class="user-projects ">
    <div class="images-left ">
        <img alt="mountains " src="https://github.com/joostvan/portfolio/blob/gh-pages/assets/img/gadgetvelocities.jpg?raw=true" />
    </div>
    <div class="contents-right ">
        <h3> Lonely Universe </h3>
        <ul>
            <li> Featured Skills</li>
        </ul>
        <p>Full stack development of Crunch, the world’s first AR and ML powered nutrition app, and I was selected as a Semi-Finalist for the PennVention competition (top third of 120 applicants).</p>
        <a class="project-link " href="# ">Check it out</a>
    </div>
</div>
<div class="Skills">
    <h1> Coursework & Skills </h1>
</div>

<div class="user-projects">
    <div class="images-right">
        <a href="https://www.upenn.edu">
            <img alt=" University of Pennsylvania" src="https://branding.web-resources.upenn.edu/sites/default/files/UniversityofPennsylvania_FullLogo_RGB_0.png" width="400 " />
        </a>
    </div>
    <div class="contents">
        <h3> Relevant Coursework </h3>
        <ul>
            <li> Machine Learning Theory </li>
            <li> Convex Optimization (Spring 2021) </li>
            <li> Math of Finance & Modelling</li>
            <li> Quantum Field Theory</li>
            <li> Statistical Mechanics</li>
            <li> General Relativity</li>
            <li> Particle Physics </li>
            <li> Advanced Solid State Physics</li>
        </ul>
        <p></p>
    </div>
    <!-- <div class="images-left">
        <a href="https://www.ictp.it"> <img alt="ICTP " src="https://github.com/joostvan/portfolio/blob/gh-pages/assets/img/ictp.png?raw=true" width="600 " /> </a>
    </div> -->
    <div class="contents-right ">
        <h3>Languages</h3>
        <ul>
            <li> Python </li>
            <li> MATLAB </li>
            <li> Java </li>
            <li> Swift </li>
            <li> CSS/HTML </li>
        </ul>
        <h3> Skills </h3>
        <ul>
            <li> AWS S3 & EC2 </li>
            <li> Tensorflow </li>
            <li> Dash </li>
            <li> Flask </li>
            <li> Hadoop </li>
            <li> Spark </li>
            <li> Tableau </li>
        </ul>

        <h3> Improving Myself With </h3>
        <ul>
            <li> SQL </li>
            <li> Node.JS </li>
            <li> C++ </li>
        </ul>
    </div>
</div>